.image-container {
    display: inline-block;
    border: darkblue 5px solid;
}

.image-container_image {
    width: 323px;
    height: 249px;
}

.image-transformed {
    transform: scale(1.5, 1.5);
}

