:root {
  --blue: #3F51B5;
  --dirty-white: whitesmoke;
}

.form {
  width: 470px;
  margin: 40px auto;
  padding: 16px;
  box-sizing: border-box;
  border: 4px solid gray;
  border-radius: 25px;
}

.form__caption {
  font-weight: 300;
}

.form__section {
  margin: 8px auto;
  padding: 12px;
  border: none;
  border-radius: 1rem;
}

.form__section-caption {
  margin-top: 0;
  font-weight: 200;
  font-size: larger;
  text-decoration: underline;
}

.horizontal-container {
  margin: 5px auto;
  display: flex;
  justify-content: space-around;
}

.form__wrap-container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__input {
  width: 10rem;
  margin: 5px 10px;
  padding: 0.35rem 0.5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0 0 15px 4px rgba(0,0,0,0.1);
}

.form__input--x-small {
  width: 40px;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  text-align: center;
}

.form__input--small {
  width: 105px;
}

.form__input--large {
  width: 317px;
}

.form input[type=number] {
  -moz-appearance: textfield;
	-webkit-appearance: textfield;
  appearance: textfield;
}

.form__tax-input {
  margin-left: 38px;
  display: inline-block;
}

.form__button {
  width: 100%;
  margin: 5px 8px;
  padding: 0.45rem;
  font-size: larger;
  border: none;
  border-radius: 0.5rem;
}

.form__button:hover {
  color:gainsboro;
  transition: .3s linear;
  cursor: pointer;
}
